@model RMT.Models.Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div id="det" class="ph-detail">
    
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>

<div style="min-width: 50%; display: inline-block;">
    <span class="glyphicon glyphicon-backward"></span> @Html.ActionLink("Retour", "Index")
</div>

@if (User.IsInRole("Admin"))
{
    <div style="width:49%; display: inline-block; text-align: right;">
        <span class="glyphicon glyphicon-pencil"></span> @Html.ActionLink("Modifier", "Edit", new { id = Model.ProjectId })
    </div>
}

<hr />

@if(Model.Pictures != null)
{
    <div class="image-zoom-container">        
        @foreach (var item in Model.Pictures)
        {
            var img = new FileInfo(item.Path);
            <div class="zoom-container">
                <img src="@Url.Content(String.Format("/Content/Images/Projects/Project{0}/tn_{1}", Model.ProjectId, img.Name))" class="project-picture" id="@item.PictureId" title="@item.PictureName" />
            </div>
        }
    </div>
}



@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });

        $(".project-picture").click(function (e) {

            e.preventDefault();

            path = '@Url.Content("/Projects/PhotoDetail/")' + this.id;

            window.location.href=path;



            /*
            $.jAlert({
                //'title': this.title,
                'id': 'jAlertDiv',
                'ajax': path,
                'theme': 'black',
                'size': 'lg',
                'showAnimation': 'fadeIn',
                //'hideAnimation': 'zoomOut',
                //'onOpen': function () {},
                'onAjaxFail': function (alert, errorThrown) { alert.closeAlert(); errorAlert(errorThrown); }
            });
            */

        });
    </script>
}