@model IEnumerable<RMT.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <h1>
            Mes Projets
        </h1>
        <p>
            Nam finibus est id diam posuere hendrerit. Curabitur egestas quam sed egestas suscipit. Praesent euismod commodo facilisis. Nullam sed lobortis magna. Sed auctor vulputate lectus non pellentesque. Nam laoreet dui id erat semper volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec at consectetur diam, nec sollicitudin mi. Etiam vulputate mi nec malesuada rutrum.
        </p>
    </div>

    <div>
        <span class="glyphicon glyphicon-backward"></span> @Html.ActionLink("Retour", "Index", "Home")
    </div>
    
    <hr />

    @if (User.IsInRole("Admin"))
    {
        <p>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            @Html.ActionLink("Créer un nouveau projet", "Create")
        </p>
    }


    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="texted-image">
                    <a href="@Url.Action("Details", "Projects", new { id=item.ProjectId })">
                        <img src="@Url.Content(item.ImagePath)" style="max-width:100%;max-height:100%;" />
                    </a>
                    <div class="text-on-image">@Html.DisplayFor(modelItem => item.Name)</div>
                </div>
                <div class="caption">
                    <p>
                        @Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(modelItem => item.Description)<br />
                        @Html.DisplayNameFor(model => model.Status) : @Html.DisplayFor(modelItem => item.Status)<br />
                        @Html.DisplayNameFor(model => model.BeginDate) : @Html.DisplayFor(modelItem => item.BeginDate)<br />
                        @Html.DisplayNameFor(model => model.EndDate) : @Html.DisplayFor(modelItem => item.EndDate)<br />
                    </p>

                    @if (User.IsInRole("Admin"))
                    {
                    <p>
                        <span class="glyphicon glyphicon-pencil"></span>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.ProjectId }) |
                        <span class="glyphicon glyphicon-remove"></span>
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.ProjectId })
                    </p>
                    }
                </div>
            </div>
        </div>

    }
</div>

