@model RMT.Models.Picture

@{
    ViewBag.Title = "PhotoDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PictureName</h2>

<p>@Model.Description</p>

<div style="min-width: 50%; display: inline-block;">
    <span class="glyphicon glyphicon-backward"></span> @Html.ActionLink("Retour", "Details", new { id = Model.ProjectId })    
</div>

<hr />
    
<div id="photoContent">

    <div style="font-size:28px; position: absolute; color: rgba(255,255,255,0.5)">
        <div id="bt-prev" style="display:inline-block"><span class="glyphicon glyphicon-backward"></span></div>
        <div id="bt-next" style="display:inline-block"><span class="glyphicon glyphicon-forward"></span></div>

        @if (User.IsInRole("Admin"))
        {
            <div id="bt-fav" style="display:inline-block">
                <a href="~/Projects/SetTitlePicture/@Model.PictureId" class="fav-pict" title="Définir comme photo de titre" style="color:rgba(255,255,255,0.5);">
                    <span class="glyphicon glyphicon-star" style="font-size:28px;"></span>
                </a>
            </div>
        }

    </div>

    <img src="@Url.Content(Model.Path)" alt="@Model.Description" style="width: 100%; max-height: 80%; margin:auto;" id="pict_@Model.PictureId" />


    @Html.Partial("PictureComments", Model.Comments)

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("AddComment", new RMT.Models.Comment() { CreatedDate = DateTime.Now, UserName = User.Identity.Name, PictureId = Model.PictureId })
    }
    else
    {
        <div><span class="glyphicon glyphicon-info-sign"></span> Vous devez être connecté pour ajouter un commentaire. @Html.ActionLink("Connexion", "login", "Account")</div>
    }

</div>

<hr />

<div style="min-width: 50%; display: inline-block;">
    <span class="glyphicon glyphicon-backward"></span> @Html.ActionLink("Retour", "Details", new { id = Model.ProjectId })
</div>

@section scripts{
    <script type="text/javascript">

        $("#bt-prev").click(function (e) {
            url = '@Url.Content(string.Format("/Projects/PhotoDetail/{0}", ViewBag.prevP))';
            location.href = url;
        })

        $("#bt-next").click(function (e) {
            url = '@Url.Content(string.Format("/Projects/PhotoDetail/{0}", ViewBag.nextP))';
            location.href = url;
        })

        $(".fav-pict").click(function (e) {

            e.preventDefault();

            path = this.href;

            $.ajax({
                url: path,
                dataType: 'html',
                success: function (code_html, statut) {
                    alert("La photo de titre a été mise à jour");
                }
            });
        });

    </script>
}
